In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("synthetic_genetic_data_linear_uniform.csv")
df.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.229861,0.000000,0.000000,0.000000,0.114150,0.028399,0.095934,0.000000,0.000000,0.000000,...,0.858344,1.055200,0.554636,0.000000,1.088442,0.995601,1.024214,0.000000,1.062223,0.732314
1,0.000000,0.102908,0.035773,0.019124,0.134380,0.000000,0.000000,0.070992,0.000000,0.000000,...,1.229091,0.580949,0.898779,0.000000,0.000000,0.902038,0.568069,0.636237,1.407516,1.031458
2,0.000000,0.025054,0.048681,0.014086,0.000000,0.000000,0.000000,0.000000,0.057093,0.062575,...,0.528169,0.822695,1.133109,1.152720,0.700942,1.294226,0.736276,0.000000,0.820571,0.992207
3,0.063536,0.061576,0.064551,0.216540,0.000000,0.026964,0.000000,0.000000,0.014632,0.141083,...,0.539786,1.166811,1.336749,0.562450,0.712017,0.909330,0.000000,1.109760,0.543323,0.581203
4,0.014100,0.000000,0.057523,0.136079,0.181313,0.010508,0.000000,0.056993,0.000000,0.000000,...,0.533179,0.000000,0.846801,0.756906,1.377403,0.852739,0.543072,0.870114,0.000000,0.000000

In [9]:
column_rename={f'{i}': f'c{i}' if i <50 else f'e{i+50-100}' for i in range(100)}

In [10]:
df = df.rename(columns=column_rename)
df.head()

,c0,c1,c2,c3,c4,c5,c6,c7,c8,c9,...,e40,e41,e42,e43,e44,e45,e46,e47,e48,e49
0,0.229861,0.000000,0.000000,0.000000,0.114150,0.028399,0.095934,0.000000,0.000000,0.000000,...,0.858344,1.055200,0.554636,0.000000,1.088442,0.995601,1.024214,0.000000,1.062223,0.732314
1,0.000000,0.102908,0.035773,0.019124,0.134380,0.000000,0.000000,0.070992,0.000000,0.000000,...,1.229091,0.580949,0.898779,0.000000,0.000000,0.902038,0.568069,0.636237,1.407516,1.031458
2,0.000000,0.025054,0.048681,0.014086,0.000000,0.000000,0.000000,0.000000,0.057093,0.062575,...,0.528169,0.822695,1.133109,1.152720,0.700942,1.294226,0.736276,0.000000,0.820571,0.992207
3,0.063536,0.061576,0.064551,0.216540,0.000000,0.026964,0.000000,0.000000,0.014632,0.141083,...,0.539786,1.166811,1.336749,0.562450,0.712017,0.909330,0.000000,1.109760,0.543323,0.581203
4,0.014100,0.000000,0.057523,0.136079,0.181313,0.010508,0.000000,0.056993,0.000000,0.000000,...,0.533179,0.000000,0.846801,0.756906,1.377403,0.852739,0.543072,0.870114,0.000000,0.000000

In [21]:
csv_path="synthetic_genetic_data_linear_uniform_modified.csv"
df.to_csv(csv_path, index=None)

In [28]:
import scanpy as sc
import os

In [32]:
anndata = sc.read_csv(csv_path)
name="LinearUniform"
PROJECT_DIR="/p/project1/hai_diffprivtab/teju/GRouNdGAN/"
DATA_FOLDER=f"{PROJECT_DIR}/data/raw/{name}"

os.makedirs(DATA_FOLDER, exist_ok=True)
pth=f'{DATA_FOLDER}/{name}.h5ad'
print(pth)
anndata.write_h5ad(pth)

/p/project1/hai_diffprivtab/teju/GRouNdGAN//data/raw/LinearUniform/LinearUniform5000.h5ad

In [35]:
# # clustering
# ann_clustered = anndata.copy()
# sc.pp.recipe_zheng17(ann_clustered, n_top_genes=100)
# sc.tl.pca(ann_clustered, n_comps=50)
# sc.pp.neighbors(ann_clustered, n_pcs=50)
# sc.tl.louvain(
#         ann_clustered, resolution=float(0.15)
#     )
#     # anndata.obs["cluster"] = ann_clustered.obs["louvain"]

2024-06-24 13:41:39.679143: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory; LD_LIBRARY_PATH: /p/software/juwelsbooster/stages/2024/software/binutils/2.40-GCCcore-12.3.0/lib:/p/software/juwelsbooster/stages/2024/software/zlib/1.2.13-GCCcore-12.3.0/lib:/p/software/juwelsbooster/stages/2024/software/GCCcore/12.3.0/lib64
2024-06-24 13:41:39.679198: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.

In [33]:
# # anndata[:val_size].write_h5ad(
    
# DATA_FOLDER=f"{PROJECT_DIR}/data/processed/{name}"
# val_size=500

# os.makedirs(DATA_FOLDER, exist_ok=True)
# anndata[:val_size].write_h5ad(f'{DATA_FOLDER}/{name}5k_validation.h5ad')
# anndata[val_size:].write_h5ad(f'{DATA_FOLDER}/{name}5k_train.h5ad')

In [14]:
import json
with open("adjancency_matrix.json", 'rb') as f:
    adj = json.load(f)
adj

{'50': [2, 6, 8, 20, 26, 31, 35, 37, 45, 49],
 '51': [4, 7, 8, 9, 21, 24, 37, 39, 48, 49],
 '52': [5, 14, 17, 18, 23, 34, 35, 36, 46, 49],
 '53': [0, 2, 5, 6, 7, 17, 18, 29, 39, 43],
 '54': [2, 7, 10, 12, 15, 26, 28, 37, 48, 49],
 '55': [6, 10, 15, 18, 24, 27, 34, 35, 43, 49],
 '56': [1, 2, 6, 13, 16, 20, 30, 41, 45, 46],
 '57': [0, 4, 18, 20, 25, 28, 38, 43, 45, 46],
 '58': [4, 7, 13, 16, 20, 29, 30, 34, 38, 39],
 '59': [11, 12, 13, 15, 16, 19, 22, 23, 34, 42],
 '60': [5, 14, 17, 21, 28, 36, 41, 44, 47, 49],
 '61': [2, 11, 15, 19, 20, 21, 24, 37, 46, 48],
 '62': [1, 5, 6, 14, 15, 34, 37, 38, 39, 43],
 '63': [0, 1, 4, 17, 18, 25, 35, 40, 45, 48],
 '64': [4, 6, 9, 20, 22, 30, 31, 32, 43, 48],
 '65': [6, 9, 11, 19, 20, 32, 38, 42, 46, 48],
 '66': [2, 8, 9, 13, 18, 20, 34, 35, 39, 47],
 '67': [3, 4, 10, 11, 15, 16, 19, 27, 34, 42],
 '68': [0, 16, 27, 28, 29, 34, 35, 43, 44, 48],
 '69': [1, 10, 16, 21, 25, 26, 31, 36, 41, 44],
 '70': [3, 8, 16, 17, 22, 37, 43, 44, 45, 46],
 '71': [0, 5, 11, 14, 25, 31, 36, 39, 46, 49],
 '72': [14, 15, 20, 28, 32, 33, 40, 41, 43, 48],
 '73': [14, 17, 21, 26, 30, 31, 35, 39, 43, 45],
 '74': [3, 4, 10, 13, 14, 23, 32, 41, 45, 49],
 '75': [5, 10, 19, 23, 29, 35, 38, 44, 48, 49],
 '76': [7, 9, 11, 13, 16, 24, 27, 32, 36, 38],
 '77': [3, 22, 24, 25, 31, 32, 36, 40, 43, 46],
 '78': [2, 5, 6, 10, 16, 17, 33, 34, 40, 46],
 '79': [5, 8, 15, 24, 28, 39, 42, 43, 47, 48],
 '80': [7, 8, 10, 13, 20, 25, 27, 28, 31, 39],
 '81': [7, 15, 17, 18, 24, 26, 27, 34, 38, 42],
 '82': [0, 1, 12, 28, 33, 35, 37, 40, 42, 47],
 '83': [9, 11, 12, 13, 15, 16, 17, 18, 34, 38],
 '84': [10, 16, 19, 22, 26, 28, 31, 34, 37, 43],
 '85': [1, 6, 7, 13, 18, 24, 36, 47, 48, 49],
 '86': [0, 4, 8, 18, 23, 32, 34, 41, 43, 47],
 '87': [0, 7, 19, 20, 22, 27, 32, 33, 36, 43],
 '88': [19, 21, 22, 25, 28, 31, 34, 36, 45, 49],
 '89': [0, 7, 13, 17, 24, 35, 38, 40, 41, 47],
 '90': [12, 19, 26, 29, 32, 33, 38, 46, 47, 49],
 '91': [0, 10, 12, 23, 28, 33, 39, 42, 44, 49],
 '92': [4, 21, 24, 25, 27, 31, 37, 39, 43, 47],
 '93': [1, 9, 15, 18, 26, 40, 41, 44, 47, 49],
 '94': [0, 4, 11, 16, 17, 22, 25, 26, 38, 40],
 '95': [9, 10, 16, 19, 29, 31, 32, 34, 43, 45],
 '96': [2, 4, 6, 17, 22, 27, 28, 32, 37, 43],
 '97': [1, 5, 10, 17, 25, 32, 40, 44, 45, 48],
 '98': [4, 13, 15, 17, 19, 21, 33, 38, 41, 47],
 '99': [3, 10, 19, 23, 29, 32, 33, 35, 42, 44]}

In [19]:
causal_graph = {column_rename.get(k) : [column_rename.get(str(j)) for j in v] for k, v in adj.items()}

In [36]:
json_pth=f"{PROJECT_DIR}/data/processed/{name}/causal_graph_TF10_seed1.json"
with open(json_pth, 'w') as f: 
    json.dump(causal_graph, f,  indent=4)